doctype html
html(lang="en")
  head
    title Colonize
    script(src='scripts/lib/require.min.js' data-main="scripts/main")
    link(rel="stylesheet" type="text/css" href="colonize.css")
  body
    canvas#c(resize)
